* {
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

li { 
  list-style: none; 
}

a{
  text-decoration: none;
}

html {
  font-size: 62.5%;/*fuente predeterminada del html: 10px*/
}

.navbar {
  font-size: 2.5em;
}

.navbar-brand{
  font-size: 1em;
}

.banner{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(./img/Central/imagenCentral.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 66rem;
  color: white;
}

.banner-text{
  width: 45%;
  padding: 3rem;
}

.banner-text h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  padding-bottom: 2rem;
  margin: 0;
}

.banner-text p{
  font-family: 'Nunito Sans', sans-serif;
  font-size:  3em;
  padding-bottom: 2rem;
  margin: 0;
}

.btn-container{
  text-align: center;
}

.banner-btn{
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size:  2.5em;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
    
}
.banner-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }

.description-container{
  height: 35rem;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.description {
  width: 45rem;
  text-align: center;
}

.description-title{
  font-size: 3rem;
  margin: 0;
  padding: 3rem;
}

.description img{
  width: 40rem;
  height: 11rem;
}

.description-text{
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 2rem;
  font-size: 1.5em;
}

.products{
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-auto-rows: 40rem;
}

.products figure {
  height: 100%;
}

.products img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 7rem;
}

.products:nth-child(2) figure {
  order: 2;
}

.product-text h1{
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  padding-bottom: 2rem;
  margin: 0;
  color: #d5ac8c;
  align-self: center;
}

.product-text p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5em;
  padding-bottom: 2rem;
  margin: 0;
}

.product-text p:nth-child(3) {
  color: #d5ac8c;
}

.product-button{
  display: flex;
  justify-content: center;
}

.product-button button{
  padding: 7px 15px;
  border: solid 3px #d5ac8c;
  color: #d5ac8c;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
  background-color: black;
  margin-top: 1rem;
}

.maicena-container{
  background-color: #d5ac8c;
  background-image: url(./img/Productos/Producto4b.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 40rem;
  color: white;
}

.maicena-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  padding-left: 15rem;
}

.maicena-text h1{
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  padding-bottom: 2rem;
  margin: 0;
  color: #63421e;
}

.maicena-text p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5em;
  padding-bottom: 2rem;
  margin: 0;
}

.maicena-text p:nth-child(3) {
  color: #63421e;
}

.maicena-button{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.maicena-button button{
  padding: 0.7rem 1.5rem;
  border: solid 3px #63421e;
  color: #63421e;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
  background-color: #d5ac8c;
}

.contact-title{
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  height: 10rem;
  font-size: 2.5em;
  margin: 0;
}

.contact-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(./img/Productos/Producto4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 50rem;
  color: #63421e;
}

.contact{
  width: 60%;
  padding-right: 11rem;
}

.contact-form{
 display: flex;
 flex-direction: column;
}

.contact-form p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #63421e;
  padding: 2rem 0 2rem 0;
}

.contact-form label{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #63421e;
}

.contact-form input{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  background-color: #d5ac8c;
  border: none;

}

.contact-form textarea{
  height: 7rem;
  background-color: #d5ac8c;
  border: none;
}

.contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
}

.contact-btn input{
  padding: 0.6rem 2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5em;
  color: #63421e;
}

.cards{
  display: flex;
  flex-direction: column;
  background-color: #212529;
  padding: 2rem;
}

.cards-title{
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 3rem;
  align-self: center;
  padding: 3rem 0;
}

.cards-items{
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.card-item {
  width: 35rem;
  height: auto;
}

.card-item-li {
  background-color: #d5ac8c;
}

.card-picture img{
  width: 100%;
  height: 50%;
  padding: 0;
}

.card-item-text{
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
.card-item-text h2{
  align-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: #63421e;
  padding-bottom: 1rem;
}

.card-item-text p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2em;
  color: white;
}

.card-btn{
  align-self: center;
  justify-self: end;
  margin: 2rem 0;
}

.card-btn button{
  background-color: #d5ac8c;
  padding: 0.6rem 2rem;
  font-size: 1.2em;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  border: solid 2px#63421e;;
}

.footer{
  display: flex;
  background-color: black;
  padding: 4rem;
}

picture{
  align-self: center;
}

picture img{
  width: 13rem;
}

.footer-items {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
  margin: 0;
  width: 100%;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__item:nth-child(3){
  align-items: center;
}

.footer__item h2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3em;
  color: #d5ac8c;
  padding: 3rem 0 1rem 0;
}

.footer__item a{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3em;
  color:white;
  padding-bottom: 1rem;
}

.footer__item img{
  margin: 1rem 0 1rem 0;
}


/*MEDIA QUERIS*/
/*BANNER*/
@media (max-width: 1024px) {
  .banner-text {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .banner {
    background-position: 60%;
  }
  .banner-text h1 {
    font-size: 4em;
    padding-bottom: 1.5rem;
  }
  .banner-text p{
    font-size:  2.5em;
    padding-bottom: 1.5rem;
  }
}
/*DESCRIPCION: PRODUCTOS DE CALIDAD, ORGANICOS...*/
@media (max-width: 600px){
  .description img{
    width: 25rem;
    height: 7rem;
  }
  .description {
    width: 30rem;
  }
  .description-title {
    font-size: 2rem;
  }
  .description-text{
    font-size: 1em;
  }
}

/*SECCION PRODUCTOS*/
@media (max-width: 1410px){
  .product-text h1{
    font-size: 3em;
    padding-bottom: 1rem;
  }
  .product-text p{
    font-size: 2em;
    padding-bottom: 1rem;
  }
  .product-button button{
    font-size: 1.5em;
  }
}

@media (max-width: 780px){
  .products {
    grid-template-columns: 1fr; /* una sola columna */
    grid-auto-rows: auto; /*altura automática */
  }

  .products figure {
    display: none; /* se ocultan las imágenes en la vista móvil */
  }

  .product-text {
    /* Se añade las imágenes como fondo */
    background-size: cover;
    background-position: center;
    border-bottom: solid 6px black;
  }
  .product1 {
    background-image: url('./img/Productos/Producto1.png');
  }

  .product2 {
    background-image: url('./img/Productos/Producto2.png');
  }

  .product3 {
    background-image: url('./img/Productos/Producto3.png');
  }

  .mobile-transparencia{
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
  }
}

/*SECCION ALFAJORES DE MAICENA*/
@media (max-width: 1410px){
  .maicena-text{
    padding-left: 10rem;
  }
}

@media (max-width: 1100px){
  .maicena-text{
    padding: 3rem;
  }
}

@media (max-width: 950px){
  .maicena-text h1{
    font-size: 3em;
    padding-bottom: 1rem;
  }
  
  .maicena-text p{
    font-size: 2em;
    padding-bottom: 1rem;
  }
}

@media (max-width: 950px){
  .maicena-text h1{
    font-size: 2em;
  }
  
  .maicena-text p{
    font-size: 1.5em;
  }

  .maicena-button button{
    padding: 0.5rem 1rem;
    font-size: 1.5em;
  }
}
/*CONTACTO*/
@media(max-width: 1300px){
  .contact{
    width: 50%;
    padding-right: 9rem;
  }
}
@media(max-width: 768px){
  .contact{
    width: 55%;
    padding-right: 3rem;
  }
}
@media(max-width: 600px){
  .contact{
    width: 100%;
    padding: 1.5rem;
  }
  .contact-container{
    background-image: none;
  }
}